<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.movie.dao.MovieProjHallMapper">
  <resultMap id="BaseResultMap" type="com.hand.movie.bean.MovieProjHall">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="movie_id" jdbcType="INTEGER" property="movieId" />
    <result column="projection_hall_id" jdbcType="INTEGER" property="projectionHallId" />
    <result column="mp_time" jdbcType="TIMESTAMP" property="mpTime" />
    <result column="mp_price" jdbcType="DOUBLE" property="mpPrice" />
  </resultMap>

  <resultMap id="WithMPResultMap" type="com.hand.movie.bean.MovieProjHall">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="movie_id" jdbcType="INTEGER" property="movieId" />
    <result column="projection_hall_id" jdbcType="INTEGER" property="projectionHallId" />
    <result column="mp_time" jdbcType="TIMESTAMP" property="mpTime" />
    <result column="mp_price" jdbcType="DOUBLE" property="mpPrice" />

    <association property="movie" javaType="com.hand.movie.bean.Movie">
      <id column="movie_id" jdbcType="INTEGER" property="movieId" />
      <result column="movie_name" jdbcType="VARCHAR" property="movieName" />
      <result column="director" jdbcType="VARCHAR" property="director" />
      <result column="stars" jdbcType="VARCHAR" property="stars" />
      <result column="type" jdbcType="VARCHAR" property="type" />
      <result column="language" jdbcType="VARCHAR" property="language" />
      <result column="time" jdbcType="VARCHAR" property="time" />
      <result column="introduction" jdbcType="VARCHAR" property="introduction" />
      <result column="price" jdbcType="DOUBLE" property="price" />
      <result column="show_time" jdbcType="DATE" property="showTime" />
    </association>

    <association property="projctionHall" javaType="com.hand.movie.bean.ProjctionHall">
      <id column="proj_hall_id" jdbcType="INTEGER" property="projHallId" />
      <result column="projection__hall_name" jdbcType="VARCHAR" property="projectionHallName" />
      <result column="broadcasting_time" jdbcType="VARCHAR" property="broadcastingTime" />
    </association>
  </resultMap>

  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, movie_id, projection_hall_id, mp_time, mp_price
  </sql>

  <sql id="WithMP_Column_List">
    mp.id, mp.movie_id, mp.projection_hall_id,mp.mp_time,mp.mp_price,
    p.projection__hall_name,
    m.movie_name
  </sql>

  <select id="selectByExampleWithMP" parameterType="com.hand.movie.bean.MovieProjHallExample" resultMap="WithMPResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="WithMP_Column_List" />
    from movie_projection_hall mp,movie m,projection_hall p
    WHERE mp.movie_id = m.movie_id AND
    mp.projection_hall_id = p.proj_hall_id
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>

  <select id="selectByExampleWithMPBypName" parameterType="java.lang.String" resultMap="WithMPResultMap">
    select
    <include refid="WithMP_Column_List" />
    from movie_projection_hall mp,movie m,projection_hall p
    WHERE mp.movie_id = m.movie_id AND
    mp.projection_hall_id = p.proj_hall_id AND
    p.projection__hall_name LIKE concat(concat('%',#{projection__hall_name,jdbcType=VARCHAR}),'%')
  </select>

  <select id="selectByPrimaryKeyWithMP" parameterType="java.lang.Integer" resultMap="WithMPResultMap">
    select
    <include refid="WithMP_Column_List" />
    from movie_projection_hall mp,movie m,projection_hall p
    WHERE p.id = #{id,jdbcType=INTEGER} AND mp.movie_id = m.movie_id AND
    mp.projection_hall_id = p.proj_hall_id
  </select>

  <select id="selectByExample" parameterType="com.hand.movie.bean.MovieProjHallExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from movie_projection_hall
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from movie_projection_hall
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from movie_projection_hall
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hand.movie.bean.MovieProjHallExample">
    delete from movie_projection_hall
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hand.movie.bean.MovieProjHall">
    insert into movie_projection_hall (id, movie_id, projection_hall_id, 
      mp_time, mp_price)
    values (#{id,jdbcType=INTEGER}, #{movieId,jdbcType=INTEGER}, #{projectionHallId,jdbcType=INTEGER}, 
      #{mpTime,jdbcType=TIMESTAMP}, #{mpPrice,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.hand.movie.bean.MovieProjHall">
    insert into movie_projection_hall
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="movieId != null">
        movie_id,
      </if>
      <if test="projectionHallId != null">
        projection_hall_id,
      </if>
      <if test="mpTime != null">
        mp_time,
      </if>
      <if test="mpPrice != null">
        mp_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="movieId != null">
        #{movieId,jdbcType=INTEGER},
      </if>
      <if test="projectionHallId != null">
        #{projectionHallId,jdbcType=INTEGER},
      </if>
      <if test="mpTime != null">
        #{mpTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mpPrice != null">
        #{mpPrice,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hand.movie.bean.MovieProjHallExample" resultType="java.lang.Long">
    select count(*) from movie_projection_hall
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update movie_projection_hall
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.movieId != null">
        movie_id = #{record.movieId,jdbcType=INTEGER},
      </if>
      <if test="record.projectionHallId != null">
        projection_hall_id = #{record.projectionHallId,jdbcType=INTEGER},
      </if>
      <if test="record.mpTime != null">
        mp_time = #{record.mpTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.mpPrice != null">
        mp_price = #{record.mpPrice,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update movie_projection_hall
    set id = #{record.id,jdbcType=INTEGER},
      movie_id = #{record.movieId,jdbcType=INTEGER},
      projection_hall_id = #{record.projectionHallId,jdbcType=INTEGER},
      mp_time = #{record.mpTime,jdbcType=TIMESTAMP},
      mp_price = #{record.mpPrice,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hand.movie.bean.MovieProjHall">
    update movie_projection_hall
    <set>
      <if test="movieId != null">
        movie_id = #{movieId,jdbcType=INTEGER},
      </if>
      <if test="projectionHallId != null">
        projection_hall_id = #{projectionHallId,jdbcType=INTEGER},
      </if>
      <if test="mpTime != null">
        mp_time = #{mpTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mpPrice != null">
        mp_price = #{mpPrice,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hand.movie.bean.MovieProjHall">
    update movie_projection_hall
    set movie_id = #{movieId,jdbcType=INTEGER},
      projection_hall_id = #{projectionHallId,jdbcType=INTEGER},
      mp_time = #{mpTime,jdbcType=TIMESTAMP},
      mp_price = #{mpPrice,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>